@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Styles */
.app {
  @apply h-screen flex flex-col border-red-600 border items-center
}

.text_field {
  @apply flex flex-col h-8 p-2 w-full border border-slate-300 outline-slate-300 rounded-md
  focus-within:outline-blue-400 focus-within:transition-all focus-within:duration-200
}

.text_field_label {
  @apply text-sm font-medium
}

.form {
  @apply flex flex-col gap-4 w-full rounded-md
}

.form_submit_button {
  @apply py-2 my-2 rounded-md text-sm font-medium bg-blue-950 text-white hover:bg-blue-1000 transition-all
}

.separator {
  @apply flex text-center px-2 items-center 
  before:flex-1 before:border-slate-300 before:border-b
  after:flex-1 after:border-slate-300 after:border-b
}